<!DOCTYPE html>
<html lang="pt_BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Ubuntu:wght@700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../styles/main.css">

  {% block styles %}
    {# Estilos diferentes do padrão #}
  {% endblock styles %}

  <link rel="stylesheet" href="../styles/responsive.css">
</head>
<body>

  <div id="{{bodyId}}">
    {% block content %}
      {# Conteúdo das outras pages #}
    {% endblock content %}
  </div>

  {% block modal %}
    {# Modal da página #}
  {% endblock modal %}

  {% block scripts %}
    {# Scripts das outras páginas #}
  {% endblock scripts %}

</body>
</html>