{% extends "layout.html" %}
{% set title = "Resultados da pesquisa" %}
{% set bodyId = "page-search-results" %}

<head>

  {% block styles %}
    <link rel="stylesheet" href="../styles/search-results.css">
  {% endblock styles %}

</head>
<body>

    {% block content %}
      {% include "../views/partials/page-header.html" %}
      <main>
        {% if total > 0 %}
          <h4>
            <strong>{{ total }} pontos</strong> encontrados
          </h4>

          <div class="cards">
            {% for place in place %}
              <div class="card">
                <img src="{{ place.image }}" alt="{{ place.name }}">
                <h1>{{ place.name }}</h1>
                <h3>{{ place.items }}</h3>
                <p>
                  {{ place.city }}, {{ place.state }} <br>
                  {{ place.address }} <br>
                  {{ place.address2 }}
                </p>
              </div>
            {% endfor %}
          </div>

        {% else %}
          <h4><strong>Nenhum</strong> local econtrado</h4>
        {% endif %}
    {% endblock content %}

</body>