#modal {
  background-color: #0E0A14ef;

  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 400ms;
}

#modal.hide {
  display: none;
}

#modal .content {
  color: white;

  width: 420px;
}

#modal .header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 48px;
}

#modal .header a {
  background: url("../assets/x.svg");

  width: 20px;
  height: 20px;

  display: flex;

  font-size: 0.01px;
}

#modal .header h1 {
  color: white;

  font-size: 36px;
  line-height: 32px;
}

#modal form {
  font-size: 14px;
  line-height: 16px;

  display: block;
  margin-bottom: 8px;
}

#modal form .field {
  display: flex;
}

#modal form input {
  flex: 1;

  background-color: var(--background);

  border-radius: 0.5rem 0 0 0.5rem;
  border: 0;

  padding: 16px 24px;

  font-size: 16px;
  color: var(--textos);
}

#modal form button {
  width: 72px;
  height: 72px;
  
  border: 0;
  border-radius: 0 0.5rem 0.5rem 0;

  background-color: var(--green-button);

  cursor: pointer;
}

/*CADASTRO CONCLUIDO*/

#modal.point .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#modal.point .content h1{
  color: var(--Background, #F0F0F5);
  font-family: Roboto;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-top: 1.5rem;
}