/* RESPONSIVIDADE */

@media(max-width: 900px) {
  #page-home {
    background-position-x: 70vw;
  }

  #page-home .content {
    align-items: center;
    text-align: center;
  }

  #page-home header .cadastrar{
    position: absolute;
    bottom: 48px;

    left: 50%;
    transform: translateX(-50%);
  }

  #page-home main {
    align-items: center;
  }

  #page-search-results .cards {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;

    text-align: center;
  }

  #page-search-results img {
    width: 100%;
  }

  body::after {
    background: var(--background);
  }
}

@media (min-height: 1500px) {
  #page-home {
    background-position-y: 20.5vw;
  }
}

@media (min-width: 1700px) {
  #page-home {
    background-position-x: 43.5vw;
  }
}

@media (max-height: 740px) {
  #page-home {
    background-position-y: 8.5vw;
  }
}

@media (max-width: 500px) {
  #page-create-point input{
    width: 100%;
  }

  #page-create-point .field-group {
    display: block;
  }

  #page-create-point .items-grid {
    grid-template-columns: 1fr 1fr;
  }

  #page-create-point .items-grid li {
    width: 170px;
  }

  #page-create-point button {
    width: 100%;
  }
}