/* GLOBAL STYLES */
:root {
  --title-color: #322153;
  --textos: #6C6C80;
  --green-button: #34CB79;
  --hover-button: #2FB86E;

  --background: #F0F0F5;
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-smooth: always;
}

body {
  background-color: #F0F0F5;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
  color: var(--title-color);
}

p {
  color: var(--textos);
}